{
  "presets": ["next/babel"],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        // ssrモード
        "ssr": true,
        // CSSからコメントと空白を削除
        "minify": true,
        // テンプレート文字列の置換
        "transpileTemplateLiterals": true,
        // デッドコードの削除
        "pure": true,
        // class名の固定
        "displayName": true
      }
    ]
  ]
}
